.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 48px;
    margin:0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}