.navbar__music--big{
    width: 351px;
    height: 269px;
    left: 0px;
    bottom: 0px;
    background: #F2F2F2;
}
.navbar__music--big img{
    height: 180px;
    width: 351px;
}
.navbar__music{
    display: flex;
    height: 146px;
    left: 0px;
    right: 0px;
    top: 0px;
}